/* ==========================================================================
 	Global
 ========================================================================== */

 html,
 body {
     background-color: transparent;
     font-family: 'allerregular', sans-serif;
     font-weight:400;
     color:#2c3e50;
     overflow-x:hidden;
     -webkit-font-smoothing: antialiased;
 }
 
 h1, h2, h3, h4, h5, h6 {
     font-family: 'allerregular', sans-serif;
     font-weight:normal;
 }
 
 ul {
     margin:0;
     padding:0;
     list-style:none;
 }
 
 a:hover {
     color: #ed145b;
 }
 
 a, a:hover, a:active,
 a:focus, button:focus, .btn:focus,
 .form-control:focus {
     outline: none !important;
     text-decoration: none !important;
     box-shadow: none !important;
 }
 
 .btn.btn-primary {
     text-transform: uppercase;
     font-family: 'allerbold';
     font-size: 14px;
     text-align: center;
     border-color: #ed145b;
     background-color: #ed145b;
     padding-top: 10px;
     padding-bottom: 15px;
     padding-left:35px;
     padding-right:60px;
     position: relative;
 }
 
 .btn.btn-primary:hover {
     background-color: transparent;
     color: #ed145b;
 }
 
 .btn.btn-default i,
 .btn.btn-primary i {
     margin-left: 10px;
     font-size: 18px;
 }
 
 .btn.btn-primary i {
     color: #fff;
     position: absolute;
     right: 30px;
     top: 14px;    
 }
 
 .btn.btn-primary:hover i {
     right:20px;
     color: #ed145b;
 }
 
 .btn.btn-default {
     background-color: transparent;
     border:none;
     font-size: 14px;
     color: #8a8a8a;
     padding: 0;
     text-transform: uppercase;
     font-family: 'allerbold';
     line-height: 0;
 }
 
 .btn.btn-default:hover {
     color: #ed145b;
 }
 
 .btn.btn-default i {
     color: #ed145b;
 }
 
 .btn.btn-default:hover i {
     color: #8a8a8a;
 }
 
  .section-padding {
     padding-top: 60px;
     padding-bottom: 50px;
 }
 
 .bg-image {
     background-repeat: no-repeat;
     -webkit-background-size: cover;
     background-size: cover;
 }
 
 .section-title {
     text-align: center;
     /*text-transform: uppercase;*/
     margin-bottom: 60px;
 }
 
 .section-title h1,
 .page-title h1 {
     font-size: 24px;
     letter-spacing: 14px;
     color: #ed145b;
     font-family: 'allerbold';
 }
 
 .section-title h2,
 .page-title h2 {
     font-size: 40px; /* was 48px though it seems to make no difference */
     color: #000;
     /*font-family: aller_displayregular*/
 }
 
 .page-title h1,
 .page-title h2 {
     color: #fff;
 }
 
 .no-padding {
     padding: 0;
 }
 
 .before-after,
 .before {
     position: relative;
 }
 
 .before-after:before,
 .before-after:after  {
     position: absolute;
     content: "";
     top: -30px; 
     width: 6%; 
     border-bottom: 30px solid #fff;  
     z-index:10;
 }
 
 /*the next 3 blocks were : I changed them to ::*/
 
 .before-after::before {
     left: 0;
     border-right: 25px solid transparent;
 }
 
 .before-after::after {
     right: 0;
     border-left: 25px solid transparent;   
 }
 
 .before::before {
     position: absolute;
     content: "";
     top: 0;
     left: 50%;
     margin-left: -46%;
     width: 92%;
     border-right: 25px solid transparent;
     border-left: 25px solid transparent;
     border-top: 30px solid #fff;    
 }
 
 .bg-white {
     background-color:#FFF;
 }
 
 .bg-transparent {
     background-color: rgba(0, 0, 0, 0.3);
     margin-bottom: 30px;
 }
 
 .page-title {
     margin-bottom: 0;
     text-transform: uppercase;
     text-align: center;
     padding-top: 120px;
     padding-bottom: 70px; 
 }
 
 .breadcrumb {
     z-index: 1;
     background-image: url(../aai_images/bg/twitter_background.jpg); /* was bg/7.jpg */
     background-color: transparent;
     position: relative;
     margin-bottom: 0;
     padding: 0;
 }
 
 .body-multiple {
     position: relative;
     z-index: 1;
 }
 
 .breadcrumb .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(237, 20, 91, 0.4);;
     z-index: -1;
 }
 
 
 .body-multiple:before {
     content: "";
 }
 
 .pagination {
     margin-bottom: 15px;
 }
 
 .page-content {
     max-width: 1300px;
     margin-left: auto;
     margin-right: auto;
     margin-top:30px;
 }
 
 .navbar-toggle {
     border: 1px solid #ed145b;
     margin-top: 12px;
 }
 
 .navbar-toggle .icon-bar {
     background-color: #ed145b;
 }

