1- ARON RA TO STAR IN MUSIC VIDEO
Atheist activist and content creator Aron Ra (link:   https://www.youtube.com/c/AronRa   ) will feature in our next music video release I Know You I Know.
The concept symbolises how racism and xenophobia are born out of ignorance.
We greatly appreciate Aron being able to find the time to film his parts for the video and realise through communicating and working with him how busy his schedule is and the amount of travel he does.
Updates on music video progress will appear here on our website.
Early access is available by supporting us on Patreon ! (link)

2- LAWRENCE KRAUSS TWEETS SONG
Theoretical physicist and author Lawrence Krauss has tweeted (the word as a link-      https://twitter.com/LKrauss1/status/1480299249711599618?s=20&t=9cXqcFu4FJXh9YR5MAKG9Q    ) our fun parody song What If You're Wrong which was co-written by Richard Dawkins.
The song was forwarded to him by a mutual friend @FreethoughtCity
Lawrence then proceeded to give the song a shout out on Twitter which was an extremely pleasant surprise!

3- RICHARD DAWKINS CO-WRITES SONG
So, we wrote a song with Richard Dawkins.
Actually, what we did was take a colourful answer he gave in response to a question posed by an audience member at one of his appearances.
We took his speech word for word and composed a fun parody song around it.
We sent him an email asking permission to release the track and were quite excited when he actually responded saying he liked the song.
Further communication with him has been unsuccessful but we will keep trying. Being Richard Dawkins probably keeps him pretty busy.
However, we took his initial response as an endorsement and went ahead and released the single which you can listen to on Bandcamp (link) or Spotify (link)

4- CRITICAL THINKING FOR KIDS
We are currently working with friend and artist Ganna (profile on website) on an animated series aimed at kids.
The concept revolves around encouraging kids to question everything and think critically.
It is a work in progress which we have realised can only be done consistently and convincingly in collaboration with knowledgeable and talented people within the community.
We'll keep you updated as to how it's all progressing here on our website but there is early access to updates for anyone supporting us on our Patreon (link)