{% extends "base.html" %}

{% load static %}

{% block content %}

<!--breadcrumb was here-->

<!-- ADD GREEN AND PURPLE LOGO INSTEAD OF DARCEY PHOTO -->

<div class="gallery-section section-padding before"><!--about-section about-festival was in this div-->
    <br/><br/>
    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class=""><!--was class="about-image"-->
                        <img class="img-responsive" src="{% static 'AAI_App/aai_images/logos/png/vertical_icon.png' %}" style="max-height: 600px; max-width:220px; align-content: center;" alt="vertical_icon.png"> <!--was about/1.jpg-->
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="about-info">
                        <h3>Art Against Ignorance</h3>

                        <!--date_time.html was here-->

                            <p> Is a global artistic movement started in Australia by a family of songwriters and music producers with a conscience.
                                <br/><br/>
                                We are a growing community of creative people collaborating to try and raise awareness, inspire unity and encourage change by harnessing the power of music for the greater good.
                                <br/><br/>
                                We artistically explore, question and challenge using words, music and video.
                                <br/><br/>
                                Our goal is to connect with people on an intellectual level via the emotions.
                                <br/><br/>
                                We hope to arouse wonder with thought provoking concepts brought to life by talented humans from all walks of life all around the world.
                                
                            </p>
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- about content -->
</div><!-- about section -->  

{% endblock %}