{% extends "base.html" %}

{% load static %}

{% block content %}

<!--breadcrumb was here-->

<div class="gallery-section about-section about-festival section-padding before">
    <div class="extra"></div><!-- extra padding between top menu and page content mystyle.css -->
    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="about-image">
                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/about/doogs-500x500.jpg' %}" alt="doogs-500x500.jpg"> <!--was about/1.jpg-->
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="about-info ">
                        <h3>Art Against Ignorance...</h3>

                        <!--date_time.html was here-->

                            <p>...is a global artistic movement started in Australia by a family of songwriters and music producers with a conscience.
                            We are a growing community of creative people collaborating to try and raise awareness, inspire change and encourage unity by harnessing the power of music for the greater good.
                            Creatively exploring, questioning and challenging through words, music and video.
                            Connecting with people on an intellectual level via the emotions.
                            Arousing wonder with thought provoking concepts which are well written and produced.
                            Concepts brought to life by talented humans from all walks of life all around the world.
                            </p>
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- about content -->
</div><!-- about section -->  

{% endblock %}