{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="artist-section section-padding before" style="background-color:transparent;"><!--gallery-section-->

    <div class="section-title">
        <a href="{% url 'artists' %}"><h1>ARTISTS</h1></a>
        <a href="{% url 'artists' %}"><h2>Art Against Ignorance</h2></a>
    </div>

    <div class="artists-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/darceygervaise-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/darceygervaise-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="artists-darcey" src="{% static 'AAI_App/aai_images/artists/darceygervaise-315x475.jpg' %}" alt="darceygervaise-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://instagram.com/darceygervaiseproduction?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_darceygervaise' %}">Darcey Gervaise</a>
                            <h6>Music Producer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/zacharygervaise-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/zacharygervaise-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="artists-zach" src="{% static 'AAI_App/aai_images/artists/zacharygervaise-315x475.jpg' %}" alt="zacharygervaise-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://instagram.com/zachgervaise?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_zacharygervaise' %}">Zach Gervaise</a>
                            <h6>Writer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/briangervaise-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/briangervaise-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="artists-brian" src="{% static 'AAI_App/aai_images/artists/briangervaise-315x475.jpg' %}" alt="briangervaise-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://twitter.com/HumanistMuso66"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCH5PLEWjWCVPCmdSwrtvrYg"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_briangervaise' %}">Brian Gervaise</a>
                            <h6>Concept Development</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/wally-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/wally-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="artists-wally" src="{% static 'AAI_App/aai_images/artists/wally-315x475.jpg' %}" alt="wally-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://youtube.com/user/walmusz"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_wally' %}">Zoltan John</a>
                            <h6>Musician</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/blatantblatheist-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/blatantblatheist-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="artists-blatantblatheist" src="{% static 'AAI_App/aai_images/artists/blatantblatheist-315x475.jpg' %}" alt="Blatant Blatheist">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://twitter.com/bblatheist?s=21&t=mOK0UhkdnKAOpsQ08SbTYQ"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://youtube.com/c/BLATANTBLATHEIST"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_blatantblatheist' %}">Blatant Blatheist</a>
                            <h6>Rap Artist</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/ganna-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/ganna-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="artists-ganna" src="{% static 'AAI_App/aai_images/artists/ganna-315x475.jpg' %}" alt="ganna-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://instagram.com/ganna4?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://youtube.com/c/Ganna4"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_ganna' %}">Ganna</a>
                            <h6>Cartoonist</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/nerdyrodent-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/nerdyrodent-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="artists-nerdyrodent" src="{% static 'AAI_App/aai_images/artists/nerdyrodent-315x475.jpg' %}" alt="nerdyrodent-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://twitter.com/nerdyrodent?s=21&t=mOK0UhkdnKAOpsQ08SbTYQ"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://youtube.com/c/NerdyRodent"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_nerdyrodent' %}">Nerdy Rodent</a>
                            <h6>Digital Artist</h6>
                        </div>
                    </div>
                </div>
                <!-- ARTISTS 2 -->
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/johnno-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/johnno-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="artists-johnno" src="{% static 'AAI_App/aai_images/artists/johnno-315x475.jpg' %}" alt="johnno-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <!-- Socials were here -->
                            <a href="{% url 'artist_details_johnno' %}">Johnno Dean</a>
                            <h6>Vocalist</h6>
                        </div>
                    </div>
                </div>
                

            </div><!-- row -->

            <br/><br/>

        <!-- artists_number_menu.html was here -->

        </div><!-- container -->           
    </div><!-- artists content -->           
</div><!-- artists section -->   

{% endblock %}