{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="blog-details before-after bg-white">
    <div class="container">
        <div class="entry-post">
            <div class="entry-thumbnail">
                <img class="img-responsive" src="{% static 'AAI_App/aai_images/articles/The_Utopians_Abbey_Rd.png' %}" alt="The_Utopians_Abbey_Rd.png">
            </div>             
            <div class="post-content">
                <div class="time">
                    <a href="{% url 'article_details_utopians' %}">19 <span>feb</span></a>
                </div>
                <div class="entry-title">
                   <h1>Why The Utopians</h1>
               </div> 
               <ul class="entry-meta list-inline">
                   <li><a href="{% url 'artist_details_briangervaise' %}"><i class="fa fa-user"></i>By  Brian Gervaise</a></li>
                   <!-- clock.html was here -->
               </ul>
            </div>
        </div>

        <div class="entry-summary">
            
            <p>I get asked this question all the time. The truth is that it was the first thing that popped in my head, simple as that. Plus I had just ate a Vindaloo Curry and drank 2 bottles of <span style="color:red; font-size:20px;">Screaming Eagle</span> Cabernet 1992.</p>
            
        </div>

        <div class="blog-social list-inline">
            <ul class="list-inline">
                <li><a href="#"><img class="img-responsive" src="{% static 'AAI_App/images/blog/11.jpg' %}" alt="11.jpg"></a></li>
                <li><a href="#"><img class="img-responsive" src="{% static 'AAI_App/images/blog/12.jpg' %}" alt="12.jpg"></a></li>
                <li><a href="#"><img class="img-responsive" src="{% static 'AAI_App/images/blog/13.jpg' %}" alt="13.jpg"></a></li>
                <li><a href="#"><img class="img-responsive" src="{% static 'AAI_App/images/blog/14.jpg' %}" alt="14.jpg"></a></li>
            </ul>
        </div>
    </div><!-- container -->         
</div><!-- blog details-->

{% endblock %}