{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="gallery-section artist-section section-padding before">
    <div class="extra"></div><!-- extra padding between top menu and page content mystyle.css -->
    <div class="extra"></div><!-- extra padding between top menu and page content mystyle.css -->
    <div class="extra"></div><!-- extra padding between top menu and page content mystyle.css -->
    <div class="artists-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/artists/blatantblathiest-315x475.jpg' %}" alt="blatantblathiest-315x475.jpg">
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_blatantblathiest2' %}">Blatant Blathiest</a>
                            <h6>Writer - Performer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/artists/deconvertedman-315x475.jpg' %}" alt="deconvertedman-315x475.jpg">
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_deconvertedman2' %}">De-Converted Man</a>
                            <h6>Author</h6>
                        </div>
                    </div>
                </div>
                <!-- page-parts/other-artists.html was here -->
            </div><!-- row -->

            <div class="row text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="{% url 'artists' %}" aria-label="Previous">
                            <span aria-hidden="true">&#8249;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li><a href="{% url 'artists' %}">1</a></li>
                        <li class="active"><a href="{% url 'artists2' %}">2</a></li>
                        <li>
                            <a href="{% url 'artists' %}" aria-label="Next">
                            <span aria-hidden="true">&#8250;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                    <div class="extra"></div><!-- extra padding between content mystyle.css -->
                    <ul>
                        <li><a href="{% url 'artists' %}#artists" class="btn btn-info">Back</a></li>
                    </ul>
                </nav>                     
            </div>                
        </div><!-- container -->           
    </div><!-- artists content -->            
</div><!-- artists section -->  

{% endblock %}