{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="gallery-section artist-detail section-padding before">
    <div class="extra"></div><!-- extra padding between top menu and page content mystyle.css -->
    <div class="artist-detail-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="artist-image">
                        <img class="img-responsive" src="{% static 'AAI_App/aai_images/artists/ganna-379x558.jpg' %}" alt="ganna-379x558.jpg">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="artist-info">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul> 
                        <h1>Ganna</h1> 
                        <h4>Cartoonist - Arizona</h4>  
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>   
                        <!--address.html was here-->                     
                    </div>
                </div>
            </div><!-- row -->

            <div class="row text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="{% url 'artist_details_johnno' %}" aria-label="Previous">
                            <span aria-hidden="true">&#8249;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li><a href="{% url 'artist_details_briangervaise' %}">1</a></li>
                        <li><a href="{% url 'artist_details_zacharygervaise' %}">2</a></li>
                        <li><a href="{% url 'artist_details_darceygervaise' %}">3</a></li>
                        <li><a href="{% url 'artist_details_scottgervaise' %}">4</a></li>
                        <li><a href="{% url 'artist_details_wally' %}">5</a></li>
                        <li><a href="{% url 'artist_details_johnno' %}">6</a></li>
                        <li class="active"><a href="{% url 'artist_details_ganna' %}">7</a></li>
                        <li><a href="{% url 'artist_details_nerdyrodent' %}">8</a></li>
                        <li><a href="{% url 'artist_details_blatantblathiest' %}">9</a></li>
                        <li><a href="{% url 'artist_details_deconvertedman' %}">10</a></li>
                        <li>
                            <a href="{% url 'artist_details_nerdyrodent' %}" aria-label="Next">
                            <span aria-hidden="true">&#8250;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>                     
            </div>
        </div><!-- container -->
    </div><!-- artist detail content -->
</div><!-- artist detail -->

<!-- Gallery Section Was Here -->

<!-- Musical Awards Section Was Here -->

<!-- Life Career Section Was Here -->
        
<!-- Discography Section Was Here -->

<!-- Earnings Section Was Here -->

<!-- Vocal Style Section Was Here -->
    
<!-- Promotion Was Here -->

<!-- below is the page_parts/music/promotion.html -->
        
        {% endblock %}