{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="gallery-section artist-detail section-padding before">
    <div class="artist-detail-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="artist-image">
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/darceygervaise-379x558.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/darceygervaise-379x558.jpg' %}" type="image/jpeg">
                            <img class="img-responsive" src="{% static 'AAI_App/aai_images/artists/darceygervaise-379x558.jpg' %}" alt="darceygervaise-379x558.jpg">
                        </picture>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="artist-info">
                        <ul class="list-inline">
                            <li><a href="https://instagram.com/darceygervaiseproduction?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                        </ul> 
                        <h1>Darcey Gervaise</h1> 
                        <h4>Producer - Sydney</h4>  
                        <p>Darcey Gervaise is a NSW South Coast based producer, engineer and songwriter who has worked across many genres and artists including, Pacific Avenue, TEX, El Grande, The Tin Knees and Sam Allen.</p>

                        <p>Darcey began his songwriting career with his band The Zilzies, going to release a number of songs amounting to over a million streams. This is where Darcey and his brother Zach began SLM Productions, a studio and rehearsal space located in North Wollongong.</p>
                            
                        <p>Of late, the young, promising producer/songwriter Darcey Gervaise has begun working with Echo & Salt and Waratah Records for management.</p>
                        <p>Management:<br/>
                        tim@echoandsalt.com
                        </p>       
                        <!--address.html was here-->                 
                    </div>
                </div>
            </div><!-- row -->

            <br/><br/>

            <div class="row text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="{% url 'artist_details_zacharygervaise' %}" aria-label="Previous">
                            <span aria-hidden="true">&#8249;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li><a href="{% url 'artist_details_briangervaise' %}">1</a></li>
                        <li><a href="{% url 'artist_details_zacharygervaise' %}">2</a></li>
                        <li class="active"><a href="{% url 'artist_details_darceygervaise' %}">3</a></li>
                        <li><a href="{% url 'artist_details_scottgervaise' %}">4</a></li>
                        <li><a href="{% url 'artist_details_wally' %}">5</a></li>
                        <li><a href="{% url 'artist_details_johnno' %}">6</a></li>
                        <li><a href="{% url 'artist_details_ganna' %}">7</a></li>
                        <li><a href="{% url 'artist_details_nerdyrodent' %}">8</a></li>
                        <li><a href="{% url 'artist_details_blatantblatheist' %}">9</a></li>
                        <li><a href="{% url 'artist_details_deconvertedman' %}">10</a></li>
                        <li>
                            <a href="{% url 'artist_details_scottgervaise' %}" aria-label="Next">
                            <span aria-hidden="true">&#8250;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                    <br/><br/><br/>
                    <ul>
                        <li><a href="{% url 'artists' %}"  class="btn btn-info">Back</a></li>
                    </ul> 
                </nav>                     
            </div>

        </div><!-- container -->
    </div><!-- artist detail content -->
</div><!-- artist detail -->

{% endblock %}