{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="gallery-section feedback section-padding before">
    <div class="extra"></div><!-- extra padding between top menu and page content mystyle.css -->
    <div class="extra"></div><!-- extra padding between top menu and page content mystyle.css -->
    <div class="container">
        <div class="feedback-content">
            <!--<h1>Contact Us</h1>-->
            <form id="contact-form" class="contact-form" name="contact-form" method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="one">Name</label>
                            <input type="text" name= "message_name" class="form-control" required="required" id="one">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="two">Email</label>
                            <input type="email" name= "message_email" class="form-control" required="required" id="two">
                        </div> 
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="three">Subject</label>
                            <input type="text" name= "message_subject" class="form-control" required="required" id="three">
                        </div> 
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="four">Your Text</label>
                            <textarea name="message" required="required" class="form-control" rows="7" id="four"></textarea>
                        </div>             
                    </div>     
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary pull-right">Submit now!</button>
                </div>
            </form><!-- contact form -->
        </div>
    </div><!-- container --> 
</div><!-- feedback --> 

{% endblock %}