{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="section-padding before"><!--about-section about -->

    <div class="section-title">
        <a href="{% url 'index' %}"><h1>HOME</h1></a>
        <a href="{% url 'index' %}"><h2>Art Against Ignorance</h2></a>
    </div>

    <div class="container mystyle">
        <p> Art Against Ignorance is a global artistic movement started in Australia by a family of songwriters and music producers with a conscience.
            <br/><br/>
            We are a growing community of creative people collaborating to try and raise awareness, inspire unity and encourage change by harnessing the power of music for the greater good.
            <br/><br/>
            We artistically explore, question and challenge using words, music and video.
            <br/><br/>
            Our goal is to connect with people on an intellectual level via the emotions.
            <br/><br/>
            We hope to arouse wonder and elevate the conversation with thought provoking concepts brought to life by talented humans from all walks of life all around the world. 
        </p>
        <br/>
    </div>

    <div class="section-title">
        <a href="{% url 'artists' %}"><h1>Artists</h1></a>
        <a href="{% url 'artists' %}"><h2>A Global Community</h2></a>
    </div>

    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/artists/darceygervaise-315x475.jpg' %}" alt="darceygervaise-315x475.jpg">
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_darceygervaise2' %}">Darcey</a>
                            <h6>Producer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/artists/ganna-315x475.jpg' %}" alt="ganna-315x475.jpg">
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_ganna2' %}">Ganna</a>
                            <h6>Cartoonist</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/artists/blatantblatheist-315x475.jpg' %}" alt="Blatant Blatheist">
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_blatantblatheist2' %}">Blatant Blatheist</a>
                            <h6>Rap Artist</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/artists/nerdyrodent-315x475.jpg' %}" alt="nerdyrodent-315x475.jpg">
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a href="{% url 'artist_details_nerdyrodent2' %}">Nerdy Rodent</a>
                            <h6>Digital Artist</h6>
                        </div>
                    </div>
                </div>                    
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- about content -->
</div><!-- about section -->


<div class="gallery-section"><!--gallery-block was in this div-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="video-gallery">
                    <div class="section-title">
                        <a href="{% url 'video' %}"><h1>Videos</h1></a>
                        <a href="{% url 'video' %}"><h2>Concepts</h2></a>
                    </div>                           
                    <div class="gallery-tab">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="one">
                                <div class="video-content">
                                    <div class="video-overlay"></div>
                                    <img  class="img-responsive" src="{% static 'AAI_App/aai_images/thumbnail/say-no-661x382.jpg' %}" alt="say-no-661x382.jpg">
                                    <div class="video video-icons text-center">
                                        <a class="video-link" href="https://www.youtube.com/watch?v=VJcncuZnwA8"><img class="img-responsive" src="{% static 'AAI_App/images/player/1.png' %}" alt="Image"></a>
                                    </div>                                
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="two">
                                <div class="video-content">
                                    <div class="video-overlay"></div>
                                    <img  class="img-responsive" src="{% static 'AAI_App/aai_images/thumbnail/wiyw-661x382.png' %}" alt="wiyw-661x382.png">
                                    <div class="video video-icons text-center">
                                        <a class="video-link" href="https://www.youtube.com/watch?v=k6ExxvIfMeQ"><img class="img-responsive" src="{% static 'AAI_App/images/player/1.png' %}" alt="1.png"></a>
                                    </div>                                
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="three">
                                <div class="video-content">
                                    <div class="video-overlay"></div>
                                    <img  class="img-responsive" src="{% static 'AAI_App/aai_images/thumbnail/I-cant-lie-to-myself-661x382.png' %}" alt="I-cant-lie-to-myself-661x382.png">
                                    <div class="video video-icons text-center">
                                        <a class="video-link" href="https://www.youtube.com/watch?v=sFUB0niLaWQ"><img class="img-responsive" src="{% static 'AAI_App/images/player/1.png' %}" alt="Image"></a>
                                    </div>                                
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="four">
                                <div class="video-content">
                                    <div class="video-overlay"></div>
                                    <img  class="img-responsive" src="{% static 'AAI_App/aai_images/thumbnail/dear_mother_nature-661x382.jpg' %}" alt="dear_mother_nature-661x382.jpg">
                                    <div class="video video-icons text-center">
                                        <a class="video-link" href="https://www.youtube.com/watch?v=ix30FD8WwWU"><img class="img-responsive" src="{% static 'AAI_App/images/player/1.png' %}" alt="Image"></a>
                                    </div>                                
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">
                                <div class="tab-image">
                                    <div class="gallery-image">
                                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/thumbnail/say-no-115x109.png' %}" alt="Image">
                                        <div class="image-overlay">
                                            <img class="img-responsive" src="{% static 'AAI_App/images/player/2.png' %}" alt="Image">
                                        </div>     
                                    </div>    
                                    <h5>Life Amazing<span>2005</span></h5>
                                </div>
                            </a></li>
                            <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab">
                                <div class="tab-image">
                                    <div class="gallery-image">
                                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/thumbnail/wiyw-115x109.png' %}" alt="Image">
                                        <div class="image-overlay">
                                            <img class="img-responsive" src="{% static 'AAI_App/images/player/2.png' %}" alt="Image">
                                        </div>     
                                    </div>
                                    <h5>What if You're Wrong <span>2021</span></h5>
                                </div>
                            </a></li>
                            <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab">
                                <div class="tab-image">
                                    <div class="gallery-image">
                                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/thumbnail/I-cant-lie-to-myself-115x109.png' %}" alt="Image">
                                        <div class="image-overlay">
                                            <img class="img-responsive" src="{% static 'AAI_App/images/player/2.png' %}" alt="Image">
                                        </div>     
                                    </div>
                                    <h5>I can't Lie to Myself <span>2021</span></h5>
                                </div>
                            </a></li>
                            <li role="presentation"><a href="#four" aria-controls="four" role="tab" data-toggle="tab">
                                <div class="tab-image">
                                    <div class="gallery-image">
                                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/thumbnail/dear_mother_nature-115x109.jpg' %}" alt="dear_mother_nature-115x109.jpg">
                                        <div class="image-overlay">
                                            <img class="img-responsive" src="{% static 'AAI_App/images/player/2.png' %}" alt="Image">
                                        </div>     
                                    </div>
                                    <h5>Dear Mother Nature <span>2022</span></h5>
                                </div>
                            </a></li>
                        </ul>    
                    </div> <!-- gallery tab --> 
                </div>
            </div>
            <div class="col-sm-6">                       
                <div class="festival-schedule live-shows">
                    <div class="section-title">
                        <a href="{% url 'articles' %}"><h1>News</h1></a>
                        <a href="{% url 'articles' %}"><h2>Updates</h2></a>
                    </div>
                    <div class="tab-content">
                        <ul>
                            <li class="festival-info">
                                <div class="festival-image">
                                    <div class="image-overlay"></div>
                                    <img class="img-responsive" src="{% static 'AAI_App/aai_images/gallery/The_Utopians_Abbey_Rd-150x183.jpg' %}" alt="Image">
                                    <div class="time">
                                        <a href="{% url 'article_details_utopians' %}"><h1>19<span>Feb</span></h1></a>
                                    </div>                                        
                                </div>
                                <div class="text-left">
                                    <a href="{% url 'article_details_utopians' %}"><h2>Why The Utopians</h2></a>
                                    <a href="{% url 'article_details_utopians' %}"><h5>Brian Gervaise</h5></a>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- tab-content -->
                </div> <!-- festival-schedule -->
            </div> <!-- col-sm-6 -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- gallery section -->

<div class="audio-album section-padding after">

    <div class="section-title" id="index_music">
        <a href="{% url 'music' %}"><h1>Music</h1></a>
        <a href="{% url 'music' %}"><h2>More Coming Soon</h2></a>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-content">
                    <div class="album-image">
                        <img  class="img-responsive" src="{% static 'AAI_App/aai_images/thumbnail/music/aai_instagram_post-270x310.png' %}" alt="aai_instagram_post-270x310.png">
                    </div> 
                    <!--form.html was here-->
                </div>                                               
            </div>
            <div class="col-sm-9">
                <div id="jp-container">
                    <div id="jplayer"></div>
                    <div class="jp-content">
                        <div id="playing"></div>
                            <ul class="jp-controls">
                                <li><a href="javascript:;" class="jp-play" tabindex="1"><img  class="img-responsive" src="{% static 'AAI_App/images/player/3.png' %}" alt="Image"></a></li>
                                <li><a href="javascript:;" class="jp-pause" tabindex="1"><img  class="img-responsive" src="{% static 'AAI_App/images/player/5.png' %}" alt="Image"></a></li>
                            </ul> 
                        <div class="jp-interface">
                            <div class="jp-progress">
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar">
                                        <b></b>
                                    </div>
                                </div>
                            </div>
                            <div class="jp-current-time"></div>
                        </div>
                    </div>
                    <div class="jp-playlist">
                        <ul>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                    <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>                
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div>

<br/><br/>

<div class="container text-center">

    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:18px;font-style:oblique;font-weight:bold;letter-spacing:8px;">Please consider supporting us on <a href="https://artagainstignorance.bandcamp.com/music" target="_blank">Bandcamp</a> or <a href="https://open.spotify.com/artist/2gOak0LZWTV0VtHjHgk9V4" target="_blank">Spotify</a></p>

</div>


<div class="products-section section-padding">

    <br/>

    <div class="section-title">
        <a href="{% url 'shop' %}"><h1>Merch</h1></a>
        <a href="{% url 'index' %}"><h2>Art Against Ignorance</h2></a>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="products">
                    <a href="https://artagainstignorance.bandcamp.com/merch/art-against-ignorance-t-shirt">T-Shirt</a>
                    <h5>$30.00</h5>
                    <a href="https://artagainstignorance.bandcamp.com/merch/art-against-ignorance-t-shirt"><i class="fa fa-shopping-cart"></i></a>
                    <a href="https://artagainstignorance.bandcamp.com/merch/art-against-ignorance-t-shirt">
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/shop/webp/liamgervaise-668x498.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/shop/liamgervaise-668x498.jpg' %}" type="image/jpeg">
                            <img class="img-responsive" src="{% static 'AAI_App/aai_images/shop/liamgervaise-668x498.jpg' %}" alt="Image of Darcey Gervaise"></a>
                    </picture>
                </div>
            </div>

            <!-- shop/other_shop_items.html was here -->

        </div><!-- row -->

        <!-- page-parts/shop/number_menu.html was here --> 

    </div><!-- container text-center -->
</div><!-- products section -->



{% endblock content %}