{% extends "AAI_App/base.html" %}

{% load static %}

{% block content %}

<div class="gallery-section artist-detail section-padding before">
    <div class="artist-detail-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="artist-image">
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/nerdyrodent2-379x558.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/nerdyrodent2-379x558.jpg' %}" type="image/jpeg">
                            <img class="img-responsive" src="{% static 'AAI_App/aai_images/artists/nerdyrodent2-379x558.jpg' %}" alt="nerdyrodent-379x558.jpg">
                        </picture>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="artist-info">
                        <ul class="list-inline">
                            <li><a href="https://twitter.com/nerdyrodent?s=21&t=mOK0UhkdnKAOpsQ08SbTYQ"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://youtube.com/c/NerdyRodent"><i class="fa fa-youtube"></i></a></li>
                        </ul> 
                        <h1>Nerdy Rodent</h1> 
                        <h4>Digital Artist - London</h4>  
                        <p>Artificial intelligence takes art to a new level of sophistication, and is often considered by it's creators as an extension to the mind and the human brain. It can be used to generate new, unique pieces or manipulate images from their original intent. For example, with the help of AI, the visual artist could create images that better represents his/her artistic vision of the material as a whole, instead of simply trying to recreate it as closely and precisely as possible.</p>
                        <p>Using artificial intelligence as a tool for creative expression takes some time to develop, and learning how to leverage natural language to express an image (or object) using an artificial representation (such as a neural network) can be challenging for a beginner. However, those who are able to master the process (both with and without artificial intelligence) have the ability to create unique artworks.</p>   
                        <!--address.html was here-->
                    </div>
                </div>
            </div><!-- row -->

            <br/><br/>

            <div class="row text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="{% url 'artist_details_ganna' %}" aria-label="Previous">
                            <span aria-hidden="true">&#8249;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li><a href="{% url 'artist_details_briangervaise' %}">1</a></li>
                        <li><a href="{% url 'artist_details_zacharygervaise' %}">2</a></li>
                        <li><a href="{% url 'artist_details_darceygervaise' %}">3</a></li>
                        <li><a href="{% url 'artist_details_wally' %}">4</a></li>
                        <li><a href="{% url 'artist_details_johnno' %}">5</a></li>
                        <li><a href="{% url 'artist_details_ganna' %}">6</a></li>
                        <li class="active"><a href="{% url 'artist_details_nerdyrodent' %}">7</a></li>
                        <li><a href="{% url 'artist_details_blatantblatheist' %}">8</a></li>
                        <li>
                            <a href="{% url 'artist_details_blatantblatheist' %}" aria-label="Next">
                            <span aria-hidden="true">&#8250;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                    <br/><br/><br/>
                    <ul>
                        <li><a href="{% url 'index' %}#index-nerdyrodent"  class="btn btn-info">Back</a></li>
                    </ul> 
                </nav>                     
            </div>

        </div><!-- container -->
    </div><!-- artist detail content -->
</div><!-- artist detail -->

{% endblock %}