{% extends "AAI_App/base_artists.html" %}

{% load static %}

{% block content %}
<br/><br/>
<div class="gallery-section artist-detail section-padding before">
    <div class="artist-detail-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="artist-image">
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/ganna-379x558.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/ganna-379x558.jpg' %}" type="image/jpeg">
                            <img class="img-responsive" src="{% static 'AAI_App/aai_images/artists/ganna-379x558.jpg' %}" alt="ganna-379x558.jpg">
                        </picture>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="artist-info">
                        <ul class="list-inline">
                            <li><a href="https://instagram.com/ganna4?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://youtube.com/c/Ganna4"><i class="fa fa-youtube"></i></a></li>
                        </ul> 
                        <h1>Ganna</h1> 
                        <h4>Cartoonist - Arizona</h4>  
                        <p> Ganna is based in Arizona and describes herself as a digital artist and content creator with a yoga teaching background.
                            She has been working together with AAI for a while now developing characters to be used in animated music video's etc.
                            She is a talented and versatile artist who also paints and dabbles in animation.
                            She does video editing also.</p>   
                        <!--address.html was here-->                     
                    </div>
                </div>
            </div><!-- row -->

            <br/><br/>

            <div class="row text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="{% url 'artist_website_madam_who' %}" aria-label="Previous">
                            <span aria-hidden="true">&#8249;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li><a href="{% url 'artist_details_artgervaise' %}">1</a></li>
                        <li><a href="{% url 'artist_details_zacharygervaise' %}">2</a></li>
                        <li><a href="{% url 'artist_details_darceygervaise' %}">3</a></li>
                        <li><a href="{% url 'artist_details_wally' %}">4</a></li>
                        <li><a href="{% url 'artist_website_madam_who' %}">5</a></li>
                        <li class="active"><a href="{% url 'artist_details_ganna' %}">6</a></li>
                        <li><a href="{% url 'artist_details_nerdyrodent' %}">7</a></li>
                        <li><a href="{% url 'artist_details_blatantblatheist' %}">8</a></li>
                        <li>
                            <a href="{% url 'artist_details_nerdyrodent' %}" aria-label="Next">
                            <span aria-hidden="true">&#8250;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                    <br/><br/><br/>
                    <ul>
                        <li><a href="{% url 'news_details_utopians' %}" class="btn btn-info">Back</a></li>
                    </ul>
                </nav>                     
            </div>
            <br/><br/><br/>
        </div><!-- container -->
    </div><!-- artist detail content -->
</div><!-- artist detail -->

<!-- Gallery Section Was Here -->

<!-- Musical Awards Section Was Here -->

<!-- Life Career Section Was Here -->
        
<!-- Discography Section Was Here -->

<!-- Earnings Section Was Here -->

<!-- Vocal Style Section Was Here -->
    
<!-- Promotion Was Here -->

<!-- below is the page_parts/music/promotion.html -->
        
        {% endblock %}
