{% extends "AAI_App/base_artists.html" %}

{% load static %}

{% block content %}
<br/><br/>
<div class="gallery-section artist-detail section-padding before">
    <div class="artist-detail-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="artist-image">
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/blatantblatheist-379x558.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/blatantblatheist-379x558.jpg' %}" type="image/jpeg">
                            <img class="img-responsive" src="{% static 'AAI_App/aai_images/artists/blatantblatheist-379x558.jpg' %}" alt="blatantblatheist-379x558.jpg">
                        </picture>
                        
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="artist-info">
                        <ul class="list-inline">
                            <li><a href="https://twitter.com/bblatheist?s=21&t=mOK0UhkdnKAOpsQ08SbTYQ"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://youtube.com/c/BLATANTBLATHEIST"><i class="fa fa-youtube"></i></a></li>
                        </ul> 
                        <h1>Blatant Blatheist</h1> 
                        <h4>Rap Artist - HAWAII</h4>  
                        <p>Blatant is all about expressing your truth, whatever that may be.
                            Growing up in St. Louis, MO and only realizing the damage caused by religion after leaving it, he found the motivation he needed to pursue his love of performing, and finally having a purpose in his art.
                            Although his first love is comedy and making people laugh, the other job of a comedian is to make people think. Musically the same approach is taken. Always honest, and always trying to push progress into the minds of anyone who will listen.
                            Whether you need a laugh, a good rebuttal for your next debate, or just something to vibe to, Blatant Blatheist has you covered. Oh, he draws and stuff too. Yeah… he’s an artist… he does art stuff.
                            -Written and approved by Blatant Blatheist… who swears he’s not a narcissist 😂🤣</p>   
                        <!--address.html was here-->                     
                    </div>
                </div>
            </div><!-- row -->

            <br/><br/>

            <div class="row text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="{% url 'artist_details_nerdyrodent' %}" aria-label="Previous">
                            <span aria-hidden="true">&#8249;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li><a href="{% url 'artist_details_briangervaise' %}">1</a></li>
                        <li><a href="{% url 'artist_details_zacharygervaise' %}">2</a></li>
                        <li><a href="{% url 'artist_details_darceygervaise' %}">3</a></li>
                        <li><a href="{% url 'artist_details_wally' %}">4</a></li>
                        <li><a href="{% url 'artist_details_johnno' %}">5</a></li>
                        <li><a href="{% url 'artist_details_ganna' %}">6</a></li>
                        <li><a href="{% url 'artist_details_nerdyrodent' %}">7</a></li>
                        <li class="active"><a href="{% url 'artist_details_blatantblatheist' %}">8</a></li>
                        <li>
                            <a href="{% url 'artist_details_briangervaise' %}" aria-label="Next">
                            <span aria-hidden="true">&#8250;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                    <br/><br/><br/>
                    <ul>
                        <li><a href="{% url 'index' %}#index-blatantblatheist" class="btn btn-info">Back</a></li>
                    </ul> 
                </nav>                    
            </div>
            <br/><br/><br/>
        </div><!-- container -->
    </div><!-- artist detail content -->
</div><!-- artist detail -->


{% endblock %}
