{% extends "AAI_App/base.html" %}

{% load static %}

{% block content %}

<div class="gallery-section artist-detail section-padding before">
    <div class="artist-detail-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="artist-image">
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/zacharygervaise-379x558.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/zacharygervaise-379x558.jpg' %}" type="image/jpeg">
                            <img class="img-responsive" src="{% static 'AAI_App/aai_images/artists/zacharygervaise-379x558.jpg' %}" alt="zacharygervaise-379x558.jpg">
                        </picture>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="artist-info">
                        <ul class="list-inline">
                            <li><a href="https://instagram.com/zachgervaise?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                        </ul> 
                        <h1>Zachary Gervaise</h1> 
                        <h4>Writer - Sydney</h4>  
                        <p>Zach Gervaise is an Australian singer-songwriter. In early 2020 just after the global pandemic struck, he and his brother decided to build a studio in their hometown of Wollongong. After years of writing and recording music for his previous bands and other artists, Zach started recording music for his solo project. The result is a raw and honest approach to songwriting and a sound that is unequivocally him.</p>
                        <p>Zach's previous bands The Maze and GOSH have combined for over 3 million streams across all platforms and has seen him support acts like Lime Cordiale and The Vanns at venues such as The Metro Theatre and Sydney Convention Center. Zach is a graduate of the Talent Development Project along with artists like Angus and Julia Stone and David Le'aupepe from Gang Of Youths. Zach credits winning the Triple J competition to perform at Yours and Owls Festival as one of his career highlights.</p>  
                        <!--address.html was here-->
                    </div>
                </div>
            </div><!-- row -->

            <br/><br/>

            <div class="row text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="{% url 'artist_details_briangervaise' %}" aria-label="Previous">
                            <span aria-hidden="true">&#8249;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li><a href="{% url 'artist_details_briangervaise' %}">1</a></li>
                        <li class="active"><a href="{% url 'artist_details_zacharygervaise' %}">2</a></li>
                        <li><a href="{% url 'artist_details_darceygervaise' %}">3</a></li>
                        <li><a href="{% url 'artist_details_wally' %}">4</a></li>
                        <li><a href="{% url 'artist_details_johnno' %}">5</a></li>
                        <li><a href="{% url 'artist_details_ganna' %}">6</a></li>
                        <li><a href="{% url 'artist_details_nerdyrodent' %}">7</a></li>
                        <li><a href="{% url 'artist_details_blatantblatheist' %}">8</a></li>
                        <li>
                            <a href="{% url 'artist_details_darceygervaise' %}" aria-label="Next">
                            <span aria-hidden="true">&#8250;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                    <br/><br/><br/>
                    <ul>
                        <li><a href="{% url 'index' %}#index-zacharygervaise"  class="btn btn-info">Back</a></li>
                    </ul> 
                </nav>                     
            </div>
            <br/><br/><br/>
        </div><!-- container -->
    </div><!-- artist detail content -->
</div><!-- artist detail -->

{% endblock %}
