{% extends "AAI_App/base.html" %}

{% load static %}

{% block content %}
<br/><br/>
<div class="gallery-section artist-detail section-padding before">
    <div class="artist-detail-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="artist-image">
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/briangervaise-379x558.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/briangervaise-379x558.jpg' %}" type="image/jpeg">
                            <img class="img-responsive" src="{% static 'AAI_App/aai_images/artists/briangervaise-379x558.jpg' %}" alt="briangervaise-379x558.jpg">
                        </picture>        
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="artist-info">
                        <ul class="list-inline">
                            <li><a href="https://twitter.com/HumanistMuso66"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCH5PLEWjWCVPCmdSwrtvrYg"><i class="fa fa-youtube"></i></a></li>
                        </ul> 
                        <h1>Brian Gervaise</h1> 
                        <h4>Concept Development - Sydney</h4>  
                        <p>Brian started learning guitar at the age of eight.
                            He wrote his first half decent song at age twelve, which coincidentally, was a protest song about animal cruelty.
                            He new at age thirteen music was going to be his life.
                            He joined his fist band at fourteen and started calling the recording studio home at around the same time.</p>                            
                            <p>Art Against Ignorance was born out of a passion for writing and recording, a lifelong search for truth and the challenge of artistically combining the two.</p> 
                            <blockquote class="blockquote"><p class="mb-0">"I can’t imagine a life without music. I can’t remember a time when music wasn’t there. I will do this for as long as I am mentally and physically able to. I always felt compelled to write songs that contained honest messages".</p><footer class="blockquote-footer"><cite title="Source Title">Brian Gervaise</cite></footer></blockquote>
                        <!--address.html was here-->                
                    </div>
                </div>
            </div><!-- row -->

            <br/><br/>

            <div class="row text-center">
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="{% url 'artist_details_blatantblatheist' %}" aria-label="Previous">
                            <span aria-hidden="true">&#8249;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="active"><a href="{% url 'artist_details_briangervaise' %}">1</a></li>
                        <li><a href="{% url 'artist_details_zacharygervaise' %}">2</a></li>
                        <li><a href="{% url 'artist_details_darceygervaise' %}">3</a></li>
                        <li><a href="{% url 'artist_details_wally' %}">4</a></li>
                        <li><a href="{% url 'artist_details_johnno' %}">5</a></li>
                        <li><a href="{% url 'artist_details_ganna' %}">6</a></li>
                        <li><a href="{% url 'artist_details_nerdyrodent' %}">7</a></li>
                        <li><a href="{% url 'artist_details_blatantblatheist' %}">8</a></li>
                        <li>
                            <a href="{% url 'artist_details_zacharygervaise' %}" aria-label="Next">
                            <span aria-hidden="true">&#8250;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                    <br/><br/><br/>
                    <ul>
                        <li><a href="{% url 'index' %}#index-briangervaise"  class="btn btn-info">Back</a></li>
                    </ul> 
                </nav>                     
            </div>
            <br/><br/><br/>
        </div><!-- container -->
    </div><!-- artist detail content -->
</div><!-- artist detail -->

{% endblock %}
