{% extends "AAI_App/base.html" %}

{% load static %}

{% block content %}
<div class="section-padding before" id="top"></div>
<br/>
<div class="section-title">
    <a href="{% url 'index' %}"><h1>HOME</h1></a>
    <a href="{% url 'index' %}"><h2>ART AGAINST iGNORANCE</h2></a>
    <h5>Humanist Arts & Entertainment Media</h5>
</div>
   
<div class="container mystyle">
    <p>
        The purpose of ART AGAINST iGNORANCE is to help educate, inform, enlighten and bring awareness.
        <br><br>
        Throughout history art has been fundamental in opening minds and making people more receptive on an intellectual level via the emotions.
        <br><br>
        My goal is to establish this label as a symbol of science, free thought, critical thinking, progressive thinking, empathy, compassion and unity.
        AAi is conscience driven rather than consumer driven.
        <br><br>
        In our technological paradigm of viral misinformation and rampant commercialism, 
        I believe art and media share a responsibility in trying to convey messages that are honest and altruistic rather than contrived and selfishly motivated.
        I genuinely think this is a matter of urgency considering the current global climate. Both metaphorically and literally speaking.
        <br><br>
        My hope is that AAi will evolve into a platform where like minded artists, influencers, communicators and others from the community can meet up, exchange ideas, develop relationships and form collaborations.
        <br><br>
        ART AGAINST iGNORANCE is a fusion of two things, my lifelong love of music and my ongoing search for truth. It is about so much more than just art. It is about being thought provoking. 
        It is about working in unity with others towards common goals. And most of all it is about doing all we can to inspire real and positive change.
    
    </p>

    <br>

<p class="mb-0"><cite title="Source Title">ART GERVAISE - Music Producer / Free Thinker / Humanist / Progressive</cite></p>

<br>

<p>

    ART AGAINST iGNORANCE
    <br>
    Art Gervaise - Music Producer
    <br>
    <a href="{% url 'artagainstignorance' %}">https://artagainstignorance.art/</a>

</p>

<br>
    
</div>


<div class="section-title" id="index-artists">
    <a href="{% url 'index' %}#index-artists"><h1>Community</h1></a>
    <a href="{% url 'index' %}#index-artists"><h2>Artists & Friends</h2></a>
</div>
    <div class="about-content"> <!-- was artists-content -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/darceygervaise-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/darceygervaise-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="index-darceygervaise" src="{% static 'AAI_App/aai_images/artists/darceygervaise-315x475.jpg' %}" alt="darceygervaise-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://instagram.com/darceygervaiseproduction?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            Darcey Gervaise
                            <h6>Music Producer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/ganna-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/ganna-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="index-ganna" src="{% static 'AAI_App/aai_images/artists/ganna-315x475.jpg' %}" alt="ganna-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://instagram.com/ganna4?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://youtube.com/c/Ganna4"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            Ganna
                            <h6>Digital Artist</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/blatantblatheist-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/blatantblatheist-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="index-blatantblatheist" src="{% static 'AAI_App/aai_images/artists/blatantblatheist-315x475.jpg' %}" alt="Blatant Blatheist">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://twitter.com/bblatheist?s=21&t=mOK0UhkdnKAOpsQ08SbTYQ"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://youtube.com/c/BLATANTBLATHEIST"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            Blatant Blatheist
                            <h6>Rap Artist</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/nerdyrodent2-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/nerdyrodent2-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="index-nerdyrodent" src="{% static 'AAI_App/aai_images/artists/nerdyrodent2-315x475.jpg' %}" alt="nerdyrodent-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://twitter.com/nerdyrodent?s=21&t=mOK0UhkdnKAOpsQ08SbTYQ"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://youtube.com/c/NerdyRodent"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            Nerdy Rodent
                            <h6>Digital Artist</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/zacharygervaise-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/zacharygervaise-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="index-zacharygervaise" src="{% static 'AAI_App/aai_images/artists/zacharygervaise-315x475.jpg' %}" alt="zacharygervaise-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://instagram.com/zachgervaise?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            Zach Gervaise
                            <h6>Writer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/artgervaise-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/artgervaise-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="index-artgervaise" src="{% static 'AAI_App/aai_images/artists/artgervaise-315x475.jpg' %}" alt="artgervaise-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://twitter.com/HumanistMuso66"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCH5PLEWjWCVPCmdSwrtvrYg"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            Art Gervaise
                            <h6>Musician</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/wally-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/wally-315x475.jpg' %}" type="image/jpeg">
                            <img  class="img-responsive" id="index-zoltanjohn" src="{% static 'AAI_App/aai_images/artists/wally-315x475.jpg' %}" alt="wally-315x475.jpg">
                        </picture>
                        <div class="artists-info">
                            <ul class="list-inline">
                                <li><a href="https://youtube.com/user/walmusz"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            Zoltan John
                            <h6>Musician</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="artists">
                        <div class="artists-overlay"></div>
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/artists/webp/madamwho-315x475.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/artists/madamwho-315x475.png' %}" type="image/webp">
                            <img class="img-responsive" id="index-madam_who" src="{% static 'AAI_App/aai_images/artists/madamwho-315x475.png' %}" alt="madamwho-315x475.png">
                        </picture>
                        <div class="artists-info">
                            <!-- Socials were here -->
                            Madam Who
                            <h6>Humanist Recording Artist</h6>    
                        </div>
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- about content -->
</div><!-- about section -->
<br>
<div class="section-padding"></div>
{% endblock content %}
