{% extends "AAI_App/base_news.html" %}

{% load static %}

{% block news %}


    <div class="container" style="background-color:white;padding-top:70px;">
        <div class="entry-post">
            <div class="entry-thumbnail">
                <picture>
                    <source srcset="{% static 'AAI_App/aai_images/news/webp/richard-dawkins-1920x660.webp' %}" type="image/webp">
                    <source srcset="{% static 'AAI_App/aai_images/news/richard-dawkins-1920x660.jpg' %}" type="image/jpeg">
                    <img class="img-responsive" src="{% static 'AAI_App/aai_images/news/richard-dawkins-1920x660.jpg' %}" alt="richard_dawkins-1920x660.jpg">
                </picture>
            </div>             
            <div class="post-content">
                <!-- pageparts/news/time.html was here -->
                <div class="entry-title bottom">
                    <h1>Richard Dawkins co-writes Song</h1>
                </div> 
                <!-- pageparts/news/author.html was here -->
            </div>
        </div><!-- entry-post -->
        <div id="my-container">
            <div id="my-wrapper">
                <section id="my-main">
                    <p>So, we wrote a song with Richard Dawkins. Actually, what we did was take a colourful answer he gave in response to a question posed by an audience member at one of his appearances. We took his speech word for word and composed a fun parody song around it. We sent him an email asking permission to release the track and were quite excited when he actually responded saying he liked the song. Further communication with him has been unsuccessful but we will keep trying. Being Richard Dawkins probably keeps him pretty busy. However, we took his initial response as an endorsement and went ahead and released the single which you can listen to on <a href="https://artagainstignorance.bandcamp.com/music">Bandcamp</a> or <a href="https://open.spotify.com/artist/2gOak0LZWTV0VtHjHgk9V4">Spotify</a>.</p>
                </section>
                <div class="row text-center section-padding">
                    <nav>
                        <ul>
                            <li><a href="{% url 'index' %}#news"  class="btn btn-info">Back</a></li>
                        </ul> 
                    </nav>
                </div>
            </div><!-- my-wrapper -->
        </div><!-- my-container-->                   
    </div><!-- container -->
        


{% endblock news %}
