{% extends "AAI_App/base_news.html" %}

{% load static %}

{% block news %}


    <div class="container" style="background-color:white;padding-top:70px;">
        <div class="entry-post">
            <div class="entry-thumbnail"> <!-- img-thumbnail gives a nice border -->
                <picture>
                    <source srcset="{% static 'AAI_App/aai_images/news/webp/lawrence_krauss-1496x750.webp' %}" type="image/webp">
                    <source srcset="{% static 'AAI_App/aai_images/news/lawrence_krauss-1496x750.png' %}" type="image/png">
                    <img class="img-responsive" src="{% static 'AAI_App/aai_images/news/lawrence_krauss-1496x750.png' %}" alt="lawrence_krauss-750x973.png">
                </picture>
            </div>             
            <div class="post-content">
                <!-- pageparts/news/time.html was here -->
                <div class="entry-title bottom">
                    <h1>Lawrence Krauss Tweets Song</h1>
                </div> 
                <!-- pageparts/news/author.html was here -->
            </div>
        </div><!-- entry-post -->
        <div id="my-container">
            <div id="my-wrapper">
                <section id="my-main">
                    <p> Theoretical physicist and author Lawrence Krauss has tweeted our fun parody song 'what if you're wrong' which was co-written by Richard Dawkins. The song was forwarded to him by a mutual friend <a href="https://home.freethought.city">@FreethoughtCity</a>. Lawrence then proceeded to give the song a shout out on <a href="https://twitter.com/LKrauss1/status/1480299249711599618?s=20&t=9cXqcFu4FJXh9YR5MAKG9Q">Twitter</a> which was an extremely pleasant surprise!</p>
                </section>
                <div class="row text-center section-padding">
                    <nav>
                        <ul>
                            <li><a href="{% url 'index' %}#news"  class="btn btn-info">Back</a></li>
                        </ul> 
                    </nav>
                </div>
            </div><!-- my-wrapper -->
        </div><!-- my-container-->                  
    </div><!-- container -->
       


{% endblock news %}
