{% extends "AAI_App/base.html" %}

{% load static %}

{% block content %}

<div class="gallery-section blog-section blog section-padding before">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="entry-post">
                    <div class="entry-thumbnail">
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/news/webp/omni-q.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/news/omni-q.jpg' %}" type="image/jpeg">
                            <img class="img-responsive" src="{% static 'AAI_App/aai_images/news/omni-q.jpg' %}" alt="omni-q.jpg">
                        </picture>
                    </div>
                    <div class="post-content">
                        <div class="time">
                            <a href="{% url 'news_details_utopians' %}">19 <span>feb</span></a>
                        </div>
                        <div class="entry-title">
                           <a href="{% url 'news_details_utopians' %}">Why The Utopians</a>
                       </div> 
                       <p>I get asked this question all the time. The truth is that...</p>
                       <div class="post-icons">
                           <a href="{% url 'news_details_utopians' %}"><i class="fa fa-chevron-circle-right"></i></a>
                       </div>
                    </div>
                </div>
            </div>
        </div><!-- row -->

        <div class="row text-center">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="{% url 'news' %}" aria-label="Previous">
                        <span aria-hidden="true">&#8249;</span>
                        <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="active"><a href="{% url 'news' %}">1</a></li>
                    <li>
                        <a href="{% url 'news' %}" aria-label="Next">
                        <span aria-hidden="true">&#8250;</span>
                        <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>                     
        </div>                
    </div><!-- container -->           
</div><!-- blog section -->

{% endblock %}