{% extends "AAI_App/base_news.html" %}

{% load static %}

{% block news %}

    <div class="container" style="background-color:white;padding-top:70px;">
        <div class="entry-post">
            <div class="entry-thumbnail">
                <picture>
                    <source srcset="{% static 'AAI_App/aai_images/news/webp/utopians-1624x750.webp' %}" type="image/webp">
                    <source srcset="{% static 'AAI_App/aai_images/news/utopians-1624x750.png' %}" type="image/png">
                    <img class="img-responsive" src="{% static 'AAI_App/aai_images/news/utopians-1624x750.png' %}" alt="utopians-1624x750.png">
                </picture>
            </div>             
            <div class="post-content">
                <!-- pageparts/news/time.html was here -->
                <div class="entry-title bottom">
                    <h1>Critical Thinking for Kids</h1>
                </div> 
                <!-- pageparts/news/author.html was here -->
            </div>
        </div><!-- entry-post -->
        <div id="my-container">
            <div id="my-wrapper">
                <section id="my-main">
                    <p>We are currently working with friend and artist <a href="{% url 'artist_details_ganna2' %}">Ganna</a> on an animated series aimed at kids.
                        The concept revolves around encouraging kids to question everything and think critically.
                        It is a work in progress which we have realised can only be done consistently and convincingly in collaboration with knowledgeable and talented people within the community.
                        We'll keep you updated as to how it's all progressing here on our website but there is early access to updates for anyone supporting us on our <a href="https://www.patreon.com/artagainstignorance">Patreon</a>.</p>
                </section>
                <div class="row text-center section-padding">
                    <nav>
                        <ul>
                            <li><a href="{% url 'index' %}#news"  class="btn btn-info">Back</a></li>
                        </ul> 
                    </nav>
                </div>
            </div><!-- my-wrapper -->
        </div><!-- my-container-->                   
    </div><!-- container -->
        


{% endblock news %}
