{% extends "AAI_App/base.html" %}

{% load static %}

{% block content %}
    
<div class="products-section section-padding">

    <br/>

    <div class="section-title">
        <a href="{% url 'shop' %}"><h1>T-Shirts</h1></a>
        <a href="{% url 'index' %}"><h2>Art Against Ignorance</h2></a>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="products">
                    <a href="https://artagainstignorance.bandcamp.com/merch/art-against-ignorance-t-shirt">Art Against Ignorance T-Shirt</a>
                    <h5>$30.00</h5>
                    <a href="https://artagainstignorance.bandcamp.com/merch/art-against-ignorance-t-shirt"><i class="fa fa-shopping-cart"></i></a>
                    <a href="https://artagainstignorance.bandcamp.com/merch/art-against-ignorance-t-shirt">
                        <picture>
                            <source srcset="{% static 'AAI_App/aai_images/shop/webp/liamgervaise-668x498.webp' %}" type="image/webp">
                            <source srcset="{% static 'AAI_App/aai_images/shop/liamgervaise-668x498.jpg' %}" type="image/jpeg">
                            <img class="img-responsive" src="{% static 'AAI_App/aai_images/shop/liamgervaise-668x498.jpg' %}" alt="Image of Darcey Gervaise"></a>
                    </picture>
                </div>
            </div>

            <!-- shop/other_shop_items.html was here -->

        </div><!-- row -->

        <!-- page-parts/shop/number_menu.html was here --> 

    </div><!-- container text-center -->
</div><!-- products section -->


{% endblock %}