/* MY CSS */

    /* MY ID'S */

    #my-container {
        background-color: #FFFFFF;/*#E0E0E0*/
    }

    #my-wrapper {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;   
    }

    #my-main {
        max-width: 100%;   
        padding: 15px 20px 15px 20px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        text-align: justify;
        color: #474747;
        font-size: 22px;
    }


    /* MY CLASSES */

    .support-us {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: inherit;
        text-align: center;
        color: #f0f0f0;
        padding-bottom:50px;
    }

    .grey-background {
        background-image:
    url("../aai_images/slider/grey-background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .footer {
        position: absolute;
        width: 100%;
    }

    .mystyle {
        font-family: 'allerregular', sans-serif;
        color: rgba(0, 0, 0, 1);
        opacity:0.5;
        font-weight:400;
        font-size:22px;
        line-height:auto;
        letter-spacing:auto;
        padding-bottom: 20px;
    }

    .logos {
        max-height: 100%;
        max-width:100%;
        align-content: center;
    }

    .news-item {
        font-size: initial;
    }

    .noHover{
        pointer-events: none;
    }


    /* TEST CSS */

    .hr-dark {
        margin: auto;
        border: 0;
        height: 1px;
        background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
        );
    }

    .rotate45 {
        transform: rotate(45deg); 
        text-decoration: underline;
    }

    .bottom {
        position:absolute;                 
        bottom:0;                         
        left:20px;                         
    }

    .rcorners1 {
        border-radius: 15px 50px 30px 5px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
    }
    
    .rcorners2 {
        border-radius: 15px 50px 30px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
    }
    
    .rcorners3 {
        border-radius: 15px 50px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
    }
    
    .rcorners4 {
        border-radius: 15px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
    }


    /* DON'T KNOW WHAT THESE ARE
    .no-web .body-base {
        background-image: url(../aai_images/bg/2.jpg);
        z-index: 1;    
    }

    .webp .body-base {
        background-image: url(../aai_images/bg/webp/2.webp);
        z-index:1;    
    }
    */

